.main__left-button {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: flex-end;
}

.buttonClear {
    background: #6F64F8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    height: 56px;
    border: none;
}

.center_items {
    display: grid;
    justify-content: center;
    align-items: center;
}

.set-font {
    font-family: Montserrat, serif;
    font-style: normal;
}