.header__name {
    height: 126px;
    mix-blend-mode: darken;
    display: grid;
    grid-template-columns: 8% 92%;
}

@media screen and (max-width: 1200px) {
    .header__name {
        grid-template-columns: 16% 84%;
    }
}

.header__name-icon {
    display: grid;
    justify-content: center;
    align-self: center;
    margin-left: 2%;
}

.header__name-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 27px;
    color: #7E72F2;
}

.set-font {
    font-family: Montserrat, serif;
    font-style: normal;
}