.header__menu {
    height: 49px;
    display: grid;
    grid-template-columns: 3.5% 0.5% 0.5% 8% 0.5% 0.5% 8%;
}

@media screen and (max-width: 720px) {
    .header__menu {
        grid-template-columns: 10% 2% 2% 20% 2% 2% 20%;
        margin-left: 0.8%;
    }
}

@media screen and (max-width: 1200px) {
    .header__menu {
        grid-template-columns: 5% 1% 1% 12% 1% 1% 12%;
        margin-left: 0.8%;
    }
}

.header__menu-section {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7E72F2;
}

.header__menu-subsection {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
}

.center_items {
    display: grid;
    justify-content: center;
    align-items: center;
}

.set-font {
    font-family: Montserrat, serif;
    font-style: normal;
}