.category {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #2C2C2C;
    padding: 7% 0 0 8%;
}

.nameCategory {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2C2C2C;
}

.listCategory {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.set-font {
    font-family: Montserrat, serif;
    font-style: normal;
}